<div class="loading-spinner" ng-if="isLoading" layout="column" layout-align="center center">
  <div class="md-whiteframe-z2 round bg-white">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>
</div>
<div id="councilsApp" class="layout-container" layout="column" layout-gt-sm="row">
  <section class="layout-section" layout="row">
    <md-sidenav id="main-sidenav" class="md-sidenav-left md-whiteframe-z1" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
      <header class="nav-header">
        <img class="profile-img img-round" ng-src="{{user.profileImage}}" alt="{{user.preferredName}}">
        <div class="user-info" layout="row" layout-align="space-between center">
          <h1 flex class="nametype md-heading">{{user.fname}} {{user.lname}}</h1>
        </div>
      </header>
      <md-content class="menu-items">
        <md-list class="menu-item-list">
          <md-list-item class="menu-item" ng-repeat="item in layout.navItems" ui-sref="{{item.state}}" ui-sref-active="active" ng-click="layout.close(item.state)">
            <md-icon class="accent-icon">{{item.icon}}</md-icon>
            <p>{{item.name}}</p>
          </md-list-item>
          <md-divider></md-divider>
        </md-list>
      </md-content>
    </md-sidenav>
    <div class="content-area" layout="column">
      <md-toolbar id="topBar" layout="row" class="glass">
          <div class="md-toolbar-tools">
            <md-button class="md-icon-button hide-gt-lg" aria-label="Menu" ng-click="toggleLeft()">
              <md-icon>{{navIcon}}</md-icon>
            </md-button>
            <h2>
              <span>{{title}}</span>
            </h2>
            <span flex></span>
          </div>
      </md-toolbar>
      <ui-view name="main" class="main-content full-height" layout="column"></ui-view>
    </div>
  </section>
</div>
